@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #FFF;
  --color-forground: #000;
  --color-primary: rgba(159, 159, 248, 1);
  --color-secondary: rgba(0, 122, 255, 1)
}

.dark {
  --color-background: #000;
  --color-forground: #FFF;
  --color-primary: rgba(159, 159, 248, 1);
  --color-secondary: rgba(159, 159, 248, 1);
}

@theme {
  --color-background: var(--color-background);
  --color-forground: var(--color-forground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}